<div id="footer">
  <% unless @reporting %>
    <div class="reportbtn">
      <%= link_to "Report It!", new_report_path, class:"report" %>
    </div>
  <% end %>
  <div class="footlinks">
    <p>
      <span><a href="/help">Help</a></span>
      |<span><a href="/about">About</a></span>
      <% if current_user %>
       |<span><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></span>
      <% end %>
    </p>
  </div>
</div><!-- end footer -->