<div id="footer">
  <div class="footlinks">
    <p>
      <a href="#">Help</a> |
      <a href="#">Copyright</a>
    </p>
  </div>
  <div class="reportbtn">
    <%= link_to "Report It!", new_report_path, class:"report" %>
  </div>

</div><!-- end footer -->