<div id="footer">
  <% unless @reporting %>
    <div class="reportbtn">
      <%= link_to "Report It!", new_report_path, class:"report" %>
    </div>
  <% end %>
  <div class="footlinks">
    <p>
      <span><a href="#">Help</a></span> |
      <span><a href="#">About</a></span>
    </p>
  </div>
</div><!-- end footer -->