- content_for :intro do
  %h2 About SmartJourney
  %p.lead A bit of background...

%div.home-wrap
  :markdown

    SmartJourney is operated by [Aberdeen City](http://www.aberdeencity.gov.uk) and [Aberdeenshire](http://www.aberdeenshire.gov.uk) Councils to help the people of Aberdeen and Aberdeenshire share and discover up to date local weather and travel information.

    SmartJourney aims to combine 'official' information on road conditions with information contributed by the users of the application.

    It is built on the principles of open data: the reports shown in the application and other information behind it are all available to be re-used in other ways, under the [Open Government Licence](http://www.nationalarchives.gov.uk/doc/open-government-licence/).  The underlying information is represented as [Linked Data](http://en.wikipedia.org/wiki/Linked_data) and is accessible via an API (Application Programming Interface).  You can browse the data at [http://data.smartjourney.co.uk](http://data.smartjourney.co.uk) and there is documentation on how to use the API [here](http://data.smartjourney.co.uk/docs).

    The creation of SmartJourney was part funded by the [NESTA Make it Local Scotland](http://www.nesta.org.uk/areas_of_work/public_services_lab/make_it_local_scotland) programme.  The application was built and is hosted by [Swirrl IT Ltd](http://swirrl.com), with additional branding and design by [Lighthouse](http://www.lighthouse.co).

    For help using the application, see our [help page](/help). For more information, you can contact us at [info@smartjourney.co.uk](mailto:info@smartjourney.co.uk).