<% content_for :intro do %>
  <h2>Server Error</h2>
  <p class="lead">Status 500</p>
<% end %>

<h2>Sorry!</h2>
<p>
  Some thing went wrong processing your request.
</p>
<p>
  We will automatically be informed of the error, but if you'd like to send us any additional information about what you were doing when the error occurred, you can <a href="mailto:info@smartjourney.co.uk">email</a>.
</p>
