$main-grey: #f0f0f0;
$dark-grey: #898989;
$really-dark-grey: #555;
$red: #EF4223;
$green: #BED730;
$orange: #FF9900;
$blue: #18b1e7;

@mixin tabview {
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px $dark-grey;
  width: 938px;

  @media only screen and (min-width:768px) and (max-width:959px){
    width:746px;
  }

  @media only screen and (max-width:767px){
    width: 278px;
  }

  @media only screen and (min-width:480px) and (max-width:767px){
    width: 398px;
  }

}

@mixin tabview-padded {
  @include tabview;
  padding: 10px;
  width: 918px;

  @media only screen and (min-width:768px) and (max-width:959px){
    width:726px;
  }

  @media only screen and (max-width:767px){
    width: 258px;
  }

  @media only screen and (min-width:480px) and (max-width:767px){
    width: 378px;
  }
}


