/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Site Styles */
body {
  background-color: #156ca8;
  background-image: url(/assets/background.jpg);
  background-repeat: repeat-y;
  background-position: center top;
 }
.container {
  background:#FFF;
}
.nav, .nav-list {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav  ul {
  margin: 0;
  padding:0;
  display: block;
}
.nav li {
  margin-bottom: 1px;
 }
#header {
  background:#0e344b;
}
#logo {
  float: left;
}
#toplinks {
  float: right;
  margin: 0;
  padding: 0;
  background:#0e344b;
}
#toplinks a {
  display: block;

  margin: 0;
  text-decoration: none;
  text-align: left;
  color: #FFF;
}
#toplinks a:hover {
  text-decoration: none;
  background:#53b7e8;
  color: #FFF;
}
.divider{
  background-color: #0064b1;
  background-image: url(/assets/blue-bar.jpg);
  background-repeat: repeat-x;
}

/* Central area styles */

.intro{
  background:#fff;
  padding:10px;
  margin-bottom:10px;
}
.main{
  background:#f2f2f2;
  clear:both;
  margin-bottom: 10px;
  overflow:auto;
}
#mapview{
  border:solid 1px #999;
  background:#fff;
  float: left;
  display: inline;
}
#listview{
  background:#f2f2f2;
  float: left;
  display:inline;
}


/* Footer area styles */

.report {
  background:#57aef0;
}
.report a{
  font-size: 24px;
  color: #FFF;
  display:block;
  text-decoration: none;
  text-align: center;
  font-weight:bold;
  padding: 20px 10px;
  margin: 0;
  background-color: #57aef0;
  background-image: url(/assets/button-one.jpg);
  background-repeat: repeat-x;
}
.report a:hover{
  color: #000;
  background:#336699;
  margin: 0;
  background-image: url(/assets/button-two.jpg);
  background-repeat: repeat-x;
}
.footlinks{
  background:#024a85;
  background-image: url(/assets/corner-btm-left.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  color: #EFEFEF;
}
.footlinks a{
  padding: 10px;
  margin-top:10px;
  color: #FFFFFF;
}
.footlinks p{
  padding-top:10px;
}


/* #Media Queries ================================================== */

  body{margin-top:20px;}
  .container .header { width: 940px;}
  .container .intro { width: 690px;}
  .container .main { width: 940px;}
  #header{height:70px;background-image: url(/assets/corner-top-left.jpg);background-repeat: no-repeat;background-position: left top;}
  .intro{background-image: url(/assets/arrow.png);background-repeat: no-repeat;background-position: right top;padding-right: 250px;}
  .divider{height:0; width: 960px;}
  .main { padding: 10px;}
  #mapview { width: 618px;border:solid 1px #999; margin-right: 10px;}
    #listview { width: 290px; padding-left:10px;padding-right:10px;margin:0;}
  #tabnav {display: none;}
  .tab_content {display: block;}
  #logo {width:300px;height:70px;}
  #toplinks {height:70px;}
  #toplinks a {padding:5px 30px;}
  #footer {width: 980px;}
  .report a{height:40px;}
  .container .report {width:312px;height:50px;float: left; display: inline;}
  .container .footlinks {width:648px;height:80px;float: left; display: inline;}
  #copyright {width: 940px;height:25px;background:#000;}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    body{margin-top:20px;}
        .container .header { width: 748px;}
    .container .intro { width: 498px;}
    .container .main { width: 748px;}
    #header{height:70px;background-image: url(/assets/corner-top-left.jpg);background-repeat: no-repeat;background-position: left top;}
    .divider{height:0;width: 768px;}
    .main { padding: 10px;}
    .intro{background-image: url(/assets/arrow.png);background-repeat: no-repeat;background-position: right top;padding-right: 250px;}
    #mapview { width: 490px;border:solid 1px #999; margin-right: 10px;}
        #listview { width: 226px;padding-left:10px;padding-right:10px;margin:0;}
    #tabnav {display: none;}
    .tab_content {display: block;}
    #logo {width:300px;height:70px;}
    #toplinks {height:70px;}
    #toplinks a {padding:5px 30px;}
    #footer {width: 788px;}
    .report a{height:40px;}
    .container .report {width:248px;height:50px;float: left; display: inline;}
    .container .footlinks {width:520px;height:80px;float: left; display: inline;}
    #copyright {width: 788px;;height:25px;background:#000;}
  }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    body{margin-top:0;}
    .container .header { width: 300px; }
    .container .intro { width: 280px; }
    .container .main { width: 280px;}
    #header{height:45px;background-image: none;}
    .intro{background-image: none;padding-right: 0px;}
    .divider{height:0;width: 300px;}
    #mapview { width: 278px;border:solid 1px #999;}
        #listview { width: 260px;margin:0;}
    #tabnav {display: block;}
    .tab_content {display: none;}
        #logo {width:150px;height:35px;}
    #toplinks {height:45px;}
    #toplinks a {padding:1px 15px;}
    #footer {width: 300px;}
    .report a{height:25px;}
    .container .report {width: 300px;height:25px;}
    .container .footlinks {width: 300px;height:45px;}
    #copyright {width: 300px;;height:25px;background:#000;}
  }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    body{margin-top:0;}
    .container .header { width: 420px; }
    .container .intro { width: 400px; }
    .container .main { width: 400px;}
    #header{height:45px;background-image: none;}
    .intro{background-image: none;padding-right: 0px;}
    .divider{height:0;width: 420px;}
    #mapview { width: 398px;border:solid 1px #999;}
        #listview { width: 380px;margin:0;}
    #tabnav {display: block;}
    .tab_content {display: none;}
        #logo {width:150px;height:35px;}
    #toplinks {height:45px;}
    #toplinks a {padding:1px 15px;}
    #footer {width: 420px;}
    .report a{height:25px;}
    .container .report {width: 420px;height:25px;}
    .container .footlinks {width: 420px;height:45px;}
    #copyright {width: 420px;height:25px;background:#000;}
  }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}






