/*!
*
* CSS from lighthouse
*
*/

h1{font-size:24px;line-height:26px}
h2{font-size:18px;line-height:20px}
h3{font-size:14px;line-height:16px}
h4{font-size:12px;line-height:14px}
h5{font-size:12px;line-height:14px}
h6{font-size:12px;line-height:12px}

body{
  background-color:#FFF;
}

.container{
  background:#f0f0f0;
}

.nav,.nav-list {margin:0;padding:0;list-style:none}
.nav ul {margin:0;padding:0;display:block}
.nav li {margin-bottom:1px}

#header{
  background:#0e344b;
  background-image:url(/assets/back-header.jpg);
  background-repeat:repeat-x;
  background-position:left bottom
}

#logo {float:left}
#toplinks {float:right;margin:0;padding:0;}
#toplinks a {display:block;margin:0;text-decoration:none;text-align:left;color:#FFF}
#toplinks a:hover {text-decoration:none;background:#b9d420;color:#FFF}
.divider { background-color:#0064b1; background-image:url(/assets/blue-bar.jpg); background-repeat:repeat-x}

.intro{
  padding:10px;
  color:#FFF;
}

.blue{
  background:#18b1e7;
  border-top:solid 1px #b6dbe8;
  border-bottom:solid 1px #027fab;
  background-image:url(/assets/arrow-tint-sml.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.green{
  background-color: #BED730;
  border-top:solid 1px #E4EFAB;
  border-bottom: solid 1px #82941D;
  background-image:url(/assets/arrow-tint-sml.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.orange{
  background-color: #FF9900;
  border-top: solid 1px #FFCC00;
  border-bottom: solid 1px #FF9900;
  background-image:url(/assets/arrow-tint-sml.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.red{
  background-color: #EF4223;
  border-top: solid 1px #FABEB4;
  border-bottom: solid 1px #AE250D;
  background-image:url(/assets/arrow-tint-sml.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.main{
  background:#f0f0f0;
  clear:both;
  margin-bottom:10px;
  overflow:auto
}

.mapview{
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px #027fab;
}

.reportview{
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px #027fab;
}

.reportview h2{
  padding:10px;
}

.reportview h3{
  padding:10px;
}

.reportview ul{
  padding:0;
  margin:0;
  list-style:none;
}

.reportview li{
  padding:10px;
  border-top:solid 1px #CCC;
  border-bottom:solid 1px #FFF;
  margin:0;
  list-style:none;
  background-color: #FFF;
}

.filterview{
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px #027fab;
}

.userview{
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px #027fab;
}

.zonesview{
  background:#fff;
  float:left;
  display:inline;
  border:solid 1px #027fab;
}

.reportbtn {
  float:right;
  display:block;
  padding:10px;
  margin-top:5px;
}

.reportbtn a{
  color:#000;
  text-decoration:none;
  background:-moz-linear-gradient(top,#feef01 0%,#ffcc00 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#feef01),color-stop(100%,#ffcc00));
  background:-webkit-linear-gradient(top,#feef01 0%,#ffcc00 100%);
  background:-o-linear-gradient(top,#feef01 0%,#ffcc00 100%);
  background:-ms-linear-gradient(top,#feef01 0%,#ffcc00 100%);
  background:linear-gradient(top,#feef01 0%,#ffcc00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#feef01',endColorstr='#ffcc00',GradientType=0);
  text-shadow:#FFF 0 1px 0;
}

.reportbtn a:hover{
  color:#FFF;
  text-shadow:none;
  text-decoration:none;
  background:#ef4223;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb04',endColorstr='#ffd947',GradientType=0);
}

.report {
  background:#ffcb05;
  padding:6px 12px;
  font-size:17px;
  /* border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px; */
  border:1px solid #FFF;
}

#footer{
  background:#0e344b;
  background-image:url(/assets/back-header.jpg);
  background-repeat:repeat-x;
  background-position:left bottom;
  color:#FFF;
}

.footlinks{
  float:left;
}

.footlinks a{
  font-size:12px;
  padding:5px;
  margin: 0 0 0 5px;
  color:#fff;
}

.footlinks p{
  padding-top:10px;

}

body{margin-top:0px}

.map-feed{border:solid 1px #c9c9c9;}

.container .header {width:940px}

.container .intro{
  width:700px;
  padding-right:250px;
}

.container .main{
  width:940px;
  border-top:solid 1px #FFF;
}

#header{height:70px;
  background-image:url(/assets/back-header.jpg);
  background-repeat:repeat-x;
  background-position:left bottom;
}

.divider{height:0;width:960px}

.main{padding:10px}

.mapview{
  width:938px;
  border:solid 1px #027fab;
}

.reportview{
  width:938px;
  border:solid 1px #027fab;
}

.filterview{
  width:918px;
  border:solid 1px #027fab;
  padding:10px;
}

.userview{
  width:918px;
  border:solid 1px #027fab;
  padding:10px;
}

.zonesview{
  width:918px;
  border:solid 1px #027fab;
  padding:10px;
}

.left{
  width:460px;
  float:left;
}

.right{
  width:460px;
  float:right;
}

.btnnav,
.btnnav-list{
  margin:0;
  padding:0;
  list-style:none;
  float:right;
  height: 28px;
}

.btnnav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

.btnnav-list li{
  display:inline;
  margin-right: 5px;
  margin-top: 5px;
  float:left;
}

.btnnav-list a{
  margin:0;
  padding:0;
  display:block;
  color:#FFF;
  }
.btnnav-list a:hover{
  background-color: #BED730;
  margin:0;
  padding:0;
  color:#FFF;
  }
.lnktxt{
  display:block;
  float:left;
  padding-top:3px;
  padding-right:5px;
  padding-left:5px;
}
#tabnav{display:none}.tab_content{display:block}

#logo{
  width:300px;
  height:75px
  }

#toplinks{height:70px}#toplinks a{padding:5px 10px}

#footer{
width:960px;
height:60px;
}

#copyright{width:940px;height:25px;background:#000}

@media only screen and (min-width:768px) and (max-width:959px){

  body{
    margin-top:0px
  }

  .container .header{width:748px}

  .container .intro{
    width:508px;
    padding-right:250px
    }

  .container .main{
    width:748px;
    border-top:solid 1px #FFF;
    }

  #header{
    height:70px;
    background:#0e344b;
    background-image:url(/assets/back-header.jpg);
    background-repeat:repeat-x;
    background-position:left bottom
  }

  .divider{height:0;width:768px}.main{padding:10px}

  .mapview{
    width:748px;
    border:solid 1px #027fab;
    }
  .reportview{
    width:748px;
    border:solid 1px #027fab;
    }
  .filterview{
    width:728px;
    border:solid 1px #027fab;
    padding:10px;
    }
  .userview{
    width:728px;
    border:solid 1px #027fab;
    padding:10px;
    }
  .zonesview{
    width:728px;
    border:solid 1px #027fab;
    padding:10px;
    }


  .left{
    width:370px;
    float:left;
  }
  .right{
    width:370px;
    float:right;
  }
  .lnktxt{
    display:block;
  }

  #tabnav{display:none}.tab_content{display:block}
  #logo{
    width:300px;
    height:75px
  }
  #toplinks{height:70px}#toplinks a{padding:5px 10px}#footer{width:768px}

  #copyright{width:788px;height:25px;background:#000}

}

@media only screen and (max-width:767px){

  body{margin-top:0}
  .container .header{width:300px}

  .container .intro{
    width:200px;
    padding-right:90px;
    }
    .container .intro h2{
    font-size:16px;
    line-height:22px;
    padding:0;
    margin:0;
    }
    .container .intro p{
    font-size:14px;
    line-height:18px;
    padding:0;
    margin:0;
    }

  .container .main{
    width:280px;
    border-top:solid 1px #FFF;
    }
  #header{
    height:50px;
    background:#0e344b;
    background-image:url(/assets/back-header.jpg);
    background-repeat:repeat-x;
    background-position:left bottom;
    }

  .divider{
    height:0;
    width:300px}

  .mapview{
    width:278px;
    border:solid 1px #027fab;
    }

  .reportview{
    width:278px;
    border:solid 1px #027fab;
    }
  .filterview{
    width:258px;
    border:solid 1px #027fab;
    padding:10px;;
    }
  .userview{
    width:258px;
    border:solid 1px #027fab;
    padding:10px;
    }
  .zonesview{
    width:258px;
    border:solid 1px #027fab;
    padding:10px;;
    }
  .lnktxt{
    display:none;
  }
  .left{
    width:278px;
    float:left;
  }
  .right{
    width:278px;
    float:left;
  }

  #tabnav{display:block}.tab_content{display:none}

  #logo{
    width:200px;
    height:50px
  }
  #toplinks{height:45px}
  #toplinks a{padding:1px 5px}
  #footer{width:300px}

  #copyright{width:300px;height:25px;background:#000}
}


@media only screen and (min-width:480px) and (max-width:767px){

  body{margin-top:0}
  .container .header{width:420px}

  .container .intro{
    width:320px;
    padding-right:90px;
  }

  .container .intro h2{
  font-size:16px;
  line-height:22px;
  padding:0;
  margin:0;
  }
  .container .intro p{
  font-size:14px;
  line-height:18px;
  padding:0;
  margin:0;
  }
  .container .main{
    width:400px;
    border-top:solid 1px #FFF;
  }
  #header{
  height:50px;
  background:#0e344b;
  background-image:url(/assets/back-header.jpg);
  background-repeat:repeat-x;
  background-position:left bottom;
  }

  .divider{height:0;width:420px}

  .mapview{
  width:398px;
  border:solid 1px #027fab;
  }
  .reportview{
  width:398px;
  border:solid 1px #027fab;
  }
  .filterview{
  width:378px;
  border:solid 1px #027fab;
  padding:10px;
  }
  .userview{
  width:378px;
  border:solid 1px #027fab;
  padding:10px;
  }
  .zonesview{
  width:378px;
  border:solid 1px #027fab;
  padding:10px;
  }
  .lnktxt{
  display:block;
  }
  .left{
    width:398px;
  }
  .right{
    width:398px;
  }

  #tabnav{display:block}

  .tab_content{display:none}

  #logo{
  width:200px;
  height:50px
  }

  #toplinks{height:45px}
  #toplinks a{padding:1px 5px}
  #footer{width:420px}

  #copyright{width:420px;height:25px;background:#000}
}
/* end media query */

#feed-map{height:300px}
.ui-datepicker{z-index:9999!important}

.tabbed ul{
  padding:0;
  margin:0;
  list-style:none;
  display:inline;
}

.tabs li {
  padding:0;
  margin:0;
  list-style:none;
  display:inline;
  background: transparent;
}

.tabs a {
  background:#FFF;
  color:#333;
  padding:5px 10px;
  display:inline-block;
  /* background:#666;
  color:#fff; */
  text-decoration:none;
  border-top: solid 1px #CCC;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
}

.tab a.active {
  background:#18b1e7;
  color:#FFF;
  border-top: solid 1px #027fab;
  border-left: solid 1px #027fab;
  border-right: solid 1px #027fab;
}

/* FORMS */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: none;
  transistion: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
   /* border-radius: 3px 3px 3px 3px;*/
   border-radius: 0px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 4px 6px;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
input, textarea {
    width: 210px;
}
input, button, select, textarea {
    font-family: Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  background: #18B1E7;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 6px;
  color: #FFFFFF;
  border: 1px solid #027FAB;
}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}