<h3>Recent reports</h3>
<% if @recent_reports.any? %>
  <ul>
    <% @recent_reports.last(20).each do |report| %>
      <li>
        <%if report.report_type %>
          <%= report.report_type.label %>,
        <% end %>
        <%= report.description %><br/>
        <% if report.creator %>
          <%= report.creator.screen_name %>,
        <% end %>
        <%= l(Time.parse(report.created_at), :format => :long) %>
      </li>
    <% end %>
  </ul>
<% else %>
  No recent reports.
<% end %>