<h3>Reports Feed</h3>
<% if @reports.any? %>
  <ul>
    <% @reports.each do |r| %>
      <li>
        <%# r.uri.to_s %>
        <%= r.description %>
        <!--<% r.datetime.inspect %>,
        [<%= r.latitude %>, <%= r.longitude %>],
        <%= r.reporter ? r.reporter.screen_name : "anon" %> -->
      </li>
    <% end %>
  </ul>
<% else %>
  No reports yet.
<% end %>
