<section id="reports" class="tab-content">
  <%
    locals = {:reports => reports}
    locals.merge!({:title => title}) if local_assigns.has_key?(:title)
  %>
  <%= render 'reports/feed_list_inner', locals %>
</section>