<% content_for :intro do %>
  <h2>Smart Journey</h2>
  <p class="lead">Big intro text ng moco oovoo eskobo gsnap yuntaa, groupon plaxo trulia zimbra.</p>
<% end %>

<%= render 'feed_map' %>
<%= render 'feed_list' %>