<% content_for :intro do %>
  <h2>Smart Journey</h2>
  <p class="lead">Big intro text ng moco oovoo eskobo gsnap yuntaa, groupon plaxo trulia zimbra.</p>
<% end %>

<%= render 'filters' %>
<%= render 'feed_map' %>

<h3>Reports</h3>
<%= render 'feed_list', :reports => @reports.last(20) %>